#choose_way{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    width: 100%;
    height: 80%;

    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

}

.wayto{

    height: 150px;
    width: 150px;

    padding: 10px;
    margin: 10px;
    border: 2px solid #a4b8d1;

    
    border-radius: 25px;

    background-color:#a4b8d1;
    color: #4b4a48;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;


    
}

.wayto:hover {

    border: 2px solid #a4b8d1;
    background-color: #ffffff;
    color: #4b4a48;
    font-weight: bolder;
    cursor: pointer;


}

.button_type{

    
    background-color: #ffffff;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    

}

.button_type:hover {

    
    background-color:#0e2849;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;


}

a{
    justify-content: center;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #4b4a48;
  }
  
  a:visited {
    text-decoration: none;
    color: #4b4a48;
  }
  
  a:hover {
    text-decoration: none;
    color: #ffffff;
  }
  
a:active {
    text-decoration: none;
    color: #4b4a48;
}

.change_test{

    display:inline-flex;
    background-color: #a4b8d1;
    border-radius: 5px;

    color: #ffffff;
    font-weight: bolder;
    
    margin: 10px;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;

}

.change_test:hover{

    background-color:#0e2849;
    color: #ffffff;
    font-weight: bolder;

    cursor: pointer;

    

}

