html,body{

    scroll-behavior: smooth;
    
    height: 100%;
    color: #4b4a48;
    
    
    
}

#title_display{

    color:#d9dfe8;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}

#logo{

    height: 30px;
    
}


#content{
    
    display: flex;
    width: 100%;
    
    justify-content: center;
    
}




.box{

    height:min-content;
    width: 1020px;
    
    padding: 30px;
    background-color: #ffffff;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom:10%;

}



@media all and (min-width: 760px)  {
    
    .box{
        position: relative;
        width:700px;
        
    }
 }
 
 @media all and (min-width: 480px) and (max-width: 759px) {
    
    .box{
        position: relative;
        width:400px;
        border: 10px solid #ffffff;

    }
 }
 
 @media all and (max-width: 480px) {
    
    .box{
        position: relative;
        width:90%;
    }
 }



.input_row{
    
    align-items: space-evenly;
    
}

a{
    height:fit-content;
    
    text-decoration:none;
}

.button_type:hover{

    border: 2px solid #0e2849;

    background: #0e2849;
    color:#ffffff;
    font-weight: bolder;
    cursor: pointer;
}

