body{

    background-color: #0e2849;  
}
.box {

    padding: 20px;
    width: 400px;
    
  }

form{
    justify-content: center;
}


.account{

    cursor: pointer;
    color:#a4b8d1;
    margin-left: 15px;
}

.account:hover{
    color:#0e2849;
}



.box .input_row {
    
    width: 300px;
    
    margin-bottom: 25px;
    

}





.box .input_row input {
    width: 92%;
    border: 2px solid gray;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
  }

.box .input_row span {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 10px;
    font-size: 1em;
    transition: 0.3s;
    font-family: sans-serif;
    color: gray;

  }

  .box .input_row input:focus {
    border: 2px solid #4b4a48;

  }


  
.box .input_row input:focus ~ span,
.box .input_row input:valid ~ span {
  
  transform: translateY(-32px) translateX(-10px) scale(0.75);
  font-size: 1em;

  color:#4b4a48;
}


.input_detail{

    display: inline;
    font-size:x-small;
    color:gray;
    
}


.button_type{

    text-align: center;

    width: 92%;
    border: 2px solid #a4b8d1;
    outline: none;
    background: #a4b8d1;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    color: white;

}


.verify_ok{

    text-align: center;

    width: 92%;
    border: 2px solid #c89b5c;
    outline: none;
    background: #fef4e8;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    color: #c89b5c;

}


#double_check{

    margin: 10px;
    padding: 15px;
    width: 350px;

    font-size: 1em;
    margin: 5px;


    border-radius: 15px;
    background: #fef4e8;
    
    display: flex;
    align-items: center;

    flex-direction: column;

}

.d_check{

    width: 100%;
    text-align: left;
    font-size: 1em;
    margin: 8px;
}

#confirm{

    margin-top: 15px;

    text-align: center;

    width: 50%;
    border: 2px solid #0e2849;
    outline: none;
    background: #0e2849;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    cursor: pointer;


}

#rewrite{
    cursor: pointer;
    color: #0e2849;
}

#rewrite:hover{
    font-weight: bolder;
}

.check_display{
    margin-left: 10px;

}


.iden{
    font-weight: bolder;
    width: 30px;
    margin-left: 20px;
    border-radius: 10px;

}

.iexpert{

    border: 2px solid #c89b5c;
    color:#c89b5c;

}

.consumer{
    border: 2px solid #a8d5d5;
    color:#a8d5d5;
}