.container{
    display: flex;
    justify-content: center; 
}

.box{
    text-align:center;
}

.one_test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;

}




.test_detail{


    align-items: center;
    justify-items: center;
    text-align:right;
    width: 300px  !important ;

    margin: 20px;

}


.test_detail_row{
    margin: 5px;
    font-weight: 500;
}


.test_detail_output{

    display:inline-flex;
    justify-content:right;
    
    width: 220px;
    font-weight: bolder;
}


.test_detail_comment{

    padding: 10px;
    border-radius: 10px;
    text-align: left;



}


canvas{

    display:inline  !important;
    height: 300px  !important;
    width: 300px  !important ;
}


.add_test_button{

    border-radius: 50px;

    text-align:center;
    padding: 15px;
    width: fit-content;

    background-color: #fff;

    margin-bottom:10%;

    float: center;


}


#select_report_mode{


    z-index :9999;
    display: flex;
    position:relative;
    justify-content: center;
    
    text-align:center;
    
    margin: 0px 0px 15px 0px !important;

    
    
}

#select_report_mode ul{

    list-style:none;
	position:relative;
	margin:0;
	padding:0;
    
}


.report_mode{

    justify-items: center;
    margin: 20px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    float: left;
	padding:0;
    color: white;
}


.report_mode:hover{

    cursor: pointer;

    background-color: #D9DFE8;
    color: #4b4a48;
    
}



#my_mode{

    list-style: none;
    position: relative;
    text-align: center;
    
    
}

#my_report{

    display: none;
    padding: 0;
    width: fit-content;
    justify-content: center;
    text-align: center;
    width: 100px;

    background-color: #A4B8D1;

    border-radius: 5px;
}


#my_mode:hover >#my_report {
   
    display:inline-block;
    
    text-align: center;
}


.my_report_type:hover {

    background-color: #D9DFE8;
    font-weight: bolder;
    border-radius: 5px;
}


li{
    list-style: none;
}
