<!DOCTYPE html>
<html>

  <head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" href="..\static\img\牛牛頂奶.png" type="image/x-icon" />
    <title>鮮乳風味評鑑</title>
    
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">
  </head>

  <body>

    <script src = "..\static\assets\js\choose.js"></script>
    
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\choose_way.css">
    
    
    <div id="title_display">
      鮮乳風味評鑑
    </div>
  
    <div id="content">
    <div id="count" class="box">
      
      <span>

        <div class="input_row">
          user name:</br>
          <input name="name" type="name" required/>
        </div>

        <div class="input_row">
          user email:</br>
          <input name="email" type="email" placeholder="name@domain.com" required/>
        </div>

        <div class="input_row">
          </br>
          
          <div id="log_in" class="button_type" onclick="two_way()">開始</div>
        </div>

      </span>

    </div>
    </div>
    
  </body>
  
</html>