<!DOCTYPE html>
<html>

  <head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" href="..\static\img\farming_w.jpg" type="image/x-icon" />
    <title>鮮乳風味評鑑</title>
    
    
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\report_list.css">

  </head>

  <body>

    <script src = "..\static\assets\js\report_display.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
    

    
    
    <div id="title_display">
      <h1>鮮乳風味評鑑</h1>
    </div>

    <div id="select_report_mode">
      <ul>
        <li class="report_mode" id="ex_mode" onclick="expert_chart()">專家評論</li>
        <li class="report_mode" id="my_mode" onclick="my_chart()">我的評論</li>
      </ul>
        
    </div>

    <div class="cont" id="select_my_range"  style="display:none">
      <div class="box select_type">
        <div class="input_row">
            
          <div id="t">
          <nav>
            <a href="#"  onclick="my_chart()">
              <b id="vtype_1">圖表顯示</b>
            </a>
            <a href="#" onclick="my_list()">
              <b id="vtype_2">條列細項</b>
            </a>
            <span id="sha"></span>
          </nav>
          
          </div>
          
          <div id="time_option">
            <span id="toption_1" class="toption" onclick="count_time(1)">一年</span>
            <span id="toption_2" class="toption" onclick="count_time(2)">半年</span>
            <span id="toption_3" class="toption" onclick="count_time(3)">一季</span>
            <span id="toption_4" class="toption" onclick="count_time(4)">一個月</span>
            <span id="toption_5" class="toption" onclick="change_time()">自訂</span>
          </div>

          <div id="moto_time" style="display:none">
            <input class="time_set" type="date" id="start-time" name="meeting-time"  onchange="choosetime('s')" placeholder="YYYY/MM/DD"> ~ 
            <input class="time_set" type="date" id="end-time" name="meeting-time" onchange="choosetime('e')" placeholder="YYYY/MM/DD">
          </div>

          <div id="re_search" onclick="search_myreport()">
            搜尋
          </div>

        </div>
      </div>
    </div>

    <span id="content">

        <span id="container_expert" class="container">


            <div id="report_select" class="box">

                施工中
            </div>

            <div id="report_select" class="box">

              施工中
          </div>

        </span>

        <span id="container_mylist" class="container" style="display:none">


          <div id="report_select" class="box">

              施工中
          </div>

          <div id="report_select" class="box">

            施工中
          </div>

        </span>

        <span id="container_mychart" class="container" style="display:none">


          <div id="report_select" class="box">

              施工中
          </div>

          <div id="report_select" class="box">

            施工中
          </div>

        </span>


        
    </span>
    
  </body>
</html>