<!DOCTYPE html>
<html>

  <head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" href="..\static\img\farming_w.jpg" type="image/x-icon" />
    <title>鮮乳風味評鑑</title>
    
    
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\report_list.css">

  </head>

  <body>

    <script src = "..\static\assets\js\report_display.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.js"></script>
    
    
    <div id="title_display">
      <h1>鮮乳風味評鑑</h1>
    </div>

    <div id="select_report_mode">
      <ul>
        <li class="report_mode" onclick="expert_report()">專家評論</li>
        <li class="report_mode" id="my_mode">我的評論
          <ul id="my_report">
            <li class="my_report_type" onclick="my_report_chart()">圖表</li>
            <li class="my_report_type" onclick="my_report_list()">條列</li>
          </ul>
        </li>
      </ul>
        
    </div>
  
    <span id="content">

        <span id="container">


            <div id="report_select" class="box">

                施工中
            </div>

        </span>
    </span>
    
  </body>
</html>