<!DOCTYPE html>
<html>

  <head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="icon" href="..\static\img\牛牛頂奶.png" type="image/x-icon" />
    <title>鮮乳風味評鑑</title>
    
    
    <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">

  </head>

  <body>

    
    
    <div id="title_display">
      <h1>鮮乳風味評鑑</h1>
    </div>
  
    <span id="content">

        <span id="container">



            <div id="third_form" class="box">

            呼嚕嚕
            </div>


            <div id="report_select" class="box">

                呼嚕嚕
            </div>

        </span>
    </span>
    
  </body>
</html>