<!DOCTYPE html>
<html>

    <head>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    
        <link rel="icon" href="..\static\img\farming_w.jpg" type="image/x-icon" />
        <title>鮮乳風味評鑑</title>
        
        <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">
      </head>
    
      <body style="background-color:#0e2849;">
    
        <script src = "..\static\assets\js\ways.js"></script>
        <script src = "..\static\assets\js\form_display.js"></script>
        <script src = "..\static\assets\js\multiple_test.js"></script>
        <link rel="stylesheet" type="text/css" href="..\static\assets\css\choose_way.css">
        
        
        <div id="title_display">
          <h1>鮮乳風味評鑑</h1>
        </div>
  
    <div id="content">


      <div id="event_box" style="display:none;">

        <div>活動邀請碼  (沒有活動可以直接略過)</div>
        <div><input id="event" name="name" type="name" required/></div>
        <div>
          <span class="change_test"  onclick="new_cuppings()">略過</span>
          <span class="change_test" onclick="event_verify()">驗證</span>
        </div>

      </div>

        <div id="choose_way">

          <div id="go_taste" class="wayto" onclick="new_event()">品鑑鮮乳</div>            
          
          <a href="report.html"><div id="see_report" class="wayto" >查看紀錄</div></a>
            
        </div>

        

        
    </div>
    
  </body>
  
</html>