<!DOCTYPE html>
<html>

    <head>
        <meta charset = "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    
        <link rel="icon" href="..\static\img\牛牛頂奶.png" type="image/x-icon" />
        <title>鮮乳風味評鑑</title>
        
        <link rel="stylesheet" type="text/css" href="..\static\assets\css\initial.css">
      </head>
    
      <body>
    
        <script src = "..\static\assets\js\form_display.js"></script>
        <script src = "..\static\assets\js\multiple_test.js"></script>
        <link rel="stylesheet" type="text/css" href="..\static\assets\css\choose_way.css">
        
        
        <div id="title_display">
          <h1>鮮乳風味評鑑</h1>
        </div>
  
    <div id="content">
        <div id="choose_way">

            
          <div id="go_taste" class="wayto button_type" onclick="new_cuppings()">品鑑鮮乳</div>
            
          
          <a href="report.html"><div id="see_report" class="wayto button_type" >查看紀錄</div></a>
          
            
        </div>
    </div>
    
  </body>
  
</html>